.cell{
    background-color: #eeeeff;
    color: #dddddd;
}

[data-state="1"]{
    background-color: #084B8A;
    color: #081B0A;
}
[data-state="0"]{
    background-color: #eeeeff;
    color: #dddddd;
}