.cell-dish-display tr {
    line-height: 10px;
}

.cell-dish-display td {
    position:relative;
}

.cell-dish-display td .dummy{
    margin-top:100%;
}

.cell-dish-display td .content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.cell-dish-display {
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.cell-dish-display:focus {
    outline: none;
}